<html lang="zh-cn">
    <head>
        <title>todolist</title>
        <link rel="stylesheet" href="todo.css">
    </head>
    <body>
        <div id="top">
            <p>todos</p>
        </div>
        <div id="bd">
            <input type="text" id="put" placeholder="What needs to be done ?  " onkeypress="add()">
            <ul class="list">
                <li>
                    <div class="view">
                        <input type="checkbox" name="status" id="status" v-model="todolist">
                        <label id="text">ssssssssssssssss</label>
                        <button class="del" onclick="dele()">×</button>
                    </div>
                    <!-- <div class="view">
                        <input class="toggle" type="checkbox" v-model="todo.completed">
                        <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                        <button class="destroy" @click="removeTodo(todo)"></button>
                    </div> -->
                </li>
            </ul>
        </div>
        <div id="foot">
            <p>Double-click to edit a todo</p>
            <p>Written by <a href="http://evanyou.me">Evan You</a></p>
            <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="todo.js"></script>
</html>

