body{
    height: 550px;
    width: 800px;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}
#top{
    font-family: "Arial";
    font-size: 120px;
    color: rgb(197, 133, 153);
    font-stretch: ultra-condensed;
}
#top p{
    margin-top: 50px;
    opacity: 0.3;
}
#bd{
    height: auto;
}
#bd  #put{
    height: 70px;
    width: 700px;
    font-size: 40px;
    border: 2px solid #a3abb1;
    color: rgb(212, 207, 207);
    box-shadow: 0 25px 35px #d5d6d8;
}
#bd  #put::-ms-input-placeholder{
    color: rgb(212, 207, 207);
}
#foot{
    margin-top: 100px;
}
#foot p{
    color: darkgray;
}
#foot p a{
    text-decoration: none;
    color: darkgray;
}
#foot p a:hover{
    text-decoration: underline ;
}

#bd ul li{
    list-style: none;
}
#bd ul li .view{
    margin-top: -5px;
    text-align: left;
    height: 70px;
    width: 697px;
    margin-left: 10px;
    margin-top: -15px;
}
#bd ul li .view #text{
    height: 500px;
    height: 70px;
    font-size: 50px;
}
#bd ul li .view #status{
    height: 70px;
    width: 70px;
    margin-top: -2px;
    margin-left: 0px;
    border-radius: 100%;
    position: relative;
}
#bd ul li .view .del{
    height: 70px;
    width: 70px;
    font-size: 50px;
    margin-left: 234.6px;
    background: white;
    border: 1px solid white;
    color: red;
    margin-top: -10px;
}